*.wlf
sim/TOP/work/
sim/TOP/UCIe_TOP.cr.mti
/sim/TOP/work
sim/TOP/UCIe_TOP.cr.mti
/sim/TOP/work/@_opt2
sim/TOP/UCIe_TOP.cr.mti
sim/TOP/UCIe_TOP.mpf
/sim/ALSM/work
sim/Mainband/Packer.mpf
sim/Mainband/Packer.mpf_new
sim/Mainband/UC_MB_Packer_tb.ucdb
sim/Mainband/work/_opt__lock
sim/TOP/work/_opt__lock
